<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC84HQluSm0E0a7-USFGRWLiiOjuESK-L4</string>
	<key>GCM_SENDER_ID</key>
	<string>107694993770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clarelee.postureApp</string>
	<key>PROJECT_ID</key>
	<string>postureapp-a8ca2</string>
	<key>STORAGE_BUCKET</key>
	<string>postureapp-a8ca2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107694993770:ios:163caa292f78156f41b513</string>
</dict>
</plist>